input[type = text]{
  height: 60px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
} 

.btn-theme {
  height: 58px;
  border: none;
  font-size: 13px;
  background-color: var(--primary-color);
}