<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img class="card-img-top img-fluid" src="https://images.pexels.com/photos/25972597/pexels-photo-25972597/free-photo-of-photographer-shadow-on-arid-barren-rocks.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - 123,000</small>
                    <small class="bg-light text-warning text-center ml-2">LAST UPDATED - FEB 22, 2024</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BUSINESS</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque sint vero nam sunt rerum! Cumque nulla ad totam molestiae perferendis fuga reprehenderit rerum, nobis suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, quam? Minima sequi ducimus corporis a?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, atque a quos impedit officiis commodi eius excepturi laborum consectetur hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere animi hic, voluptatum expedita aliquam quo, fuga ipsam quasi aperiam obcaecati illum exercitationem. Cumque, blanditiis! Voluptas modi neque nemo provident numquam dolore labore earum velit, laborum itaque enim doloribus eius voluptatum architecto ea incidunt sed nihil perspiciatis commodi molestiae maiores consequatur.</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>