<div class="card shadow-effect">
  <img
    src="https://images.unsplash.com/photo-1720157974034-cdb419e50002?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3"
      >Views - 1,3444,233</small
    >

    <h5 class="mt-1">How To Start a Blog</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iste vel
      enim necessitatibus non voluptatum distinctio nostrum id?
    </p>

    <small class="bg-light text-warning text-center ml-3"
      >LAST UPDATED - FEB 22, 2024</small
    >
  </div>
</div>
